<header>
  <nav class="navbar flex-wrap bg-base-200 px-16 lg:flex-nowrap lg:bg-base-100">
    <div class="navbar-start w-full justify-center lg:justify-start">
      <h2
        class="font-bold text-5xl bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary"
      >
        Mv
      </h2>
    </div>

    <div class="navbar-end w-full justify-center lg:w-6/12 lg:justify-end">
      <ul class="menu menu-horizontal flex-nowrap font-medium">
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/experience">Experience</a>
        </li>
        <li>
          <a href="/work">Work</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
