---
import GridIcon from "./icons/GridIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import EmailIcon from "./icons/EmailIcon.astro";
---

<div class="hero min-h-[80vh]">
  <div class="hero-content relative">
    <div class="max-w-3xl">
      <p class="text-primary font-semibold scale-in-ver-top">
        Hola, mi nombre es
      </p>
      <h1 class="text-6xl font-bold my-2 scale-in-ver-bottom">
        Marcos Velásquez.
      </h1>
      <div class="fade-in">
        <h2 class="text-4xl font-semibold text-slate-600">
          Systems Engineer - Full Stack Developer.
        </h2>
        <p class="text-xl lg:text-2xl text-balance my-6">
          +5 años de experiencia
          <span class="text-secondary"
            >desarrollando y manteniendo aplicaciones.</span
          >
          <br />
          <span class="text-accent">
            Conocimientos en Node.js, Angular, and TypeScript.
          </span>
        </p>
      </div>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <a
          class="bg-white/5
          border dark:border-white/10 border-gray-300 rounded-full
          flex justify-center items-center gap-x-2
          py-1 px-2 md:py-2 md:px-4
          text-xs md:text-base
          text-black/70 dark:text-white
          transition
          hover:scale-110 hover:bg-white/10 bounce-in-fwd"
          href="https://www.linkedin.com/in/marcos-vel%C3%A1squez-8667b0204/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <LinkedinIcon />
          LinkedIn
        </a>
        <a
          class="bg-white/5
          border dark:border-white/10 border-gray-300 rounded-full
          flex justify-center items-center gap-x-2
          py-1 px-2 md:py-2 md:px-4
          text-xs md:text-base
          text-black/70 dark:text-white
          transition
          hover:scale-110 hover:bg-white/10 bounce-in-fwd"
          href="https://github.com/marcos-velasquez"
          target="_blank"
          rel="noopener noreferrer"
        >
          <GithubIcon />
          GitHub
        </a>
        <a
          class="bg-white/5
          border dark:border-white/10 border-gray-300 rounded-full
          flex justify-center items-center gap-x-2
          py-1 px-2 md:py-2 md:px-4
          text-xs md:text-base
          text-black/70 dark:text-white
          transition
          hover:scale-110 hover:bg-white/10 bounce-in-fwd"
          href="mailto:marcos.svz28@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <EmailIcon />
          marcos.svz28@gmail.com
        </a>
      </nav>
    </div>

    <GridIcon />
  </div>
</div>

<style>
  .scale-in-ver-top {
    animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .scale-in-ver-bottom {
    animation: scale-in-ver-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      0.5s both;
  }

  .bounce-in-fwd {
    animation: bounce-in-fwd 1.1s both;
  }

  .fade-in {
    animation: fade-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 1s;
  }

  @keyframes scale-in-ver-top {
    0% {
      transform: scaleY(0);
      transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      transform: scaleY(1);
      transform-origin: 100% 0%;
      opacity: 1;
    }
  }

  @keyframes scale-in-ver-bottom {
    0% {
      transform: scaleY(0);
      transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      transform: scaleY(1);
      transform-origin: 0% 100%;
      opacity: 1;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes bounce-in-fwd {
    0% {
      transform: scale(0);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      transform: scale(1);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      transform: scale(0.7);
      animation-timing-function: ease-in;
    }
    72% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
    81% {
      transform: scale(0.84);
      animation-timing-function: ease-in;
    }
    89% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
    95% {
      transform: scale(0.95);
      animation-timing-function: ease-in;
    }
    100% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }
</style>
