---
import ExternalLink from "./icons/ExternalLink.astro";
import Web from "./icons/Web.astro";
---

<section id="work" class="relative pt-24">
  <h2 class="text-3xl font-bold">
    <span class="text-primary font-semibold text-xl">2.</span> Trabajos
  </h2>

  <div class="divider divider-vertical mt-0 mb-16"></div>

  <article class="card lg:card-side bg-base-300 shadow-xl mb-10">
    <figure>
      <img src="/works/editor-image.png" alt="Album" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Editor de imágenes</h2>
      <p>
        Una herramienta creativa que fusiona la potencia de Fabric.js y Angular para brindarte un lienzo digital donde
        tus ideas cobran vida. Con ella, puedes recortar, redimensionar y, gracias a la inteligencia artificial,
        eliminar fondos de imágenes con facilidad. ¿Necesitas inspiración? Accede a Unsplash o importa desde tu PC o el
        propio Canva.
      </p>
      <p class="my-4">
        Pero eso no es todo. Desde generar códigos QR hasta seleccionar iconos de Icon Finder, todo está a tu alcance.
        ¿Quieres personalizar SVGs? ¡Por supuesto! Aplica filtros, efectos y máscaras de recorte para darle un toque
        único a tus creaciones.
      </p>
      <p>
        ¿Te gustan las plantillas? Este editor tiene de sobra. Diseños prediseñados, textos con múltiples fuentes y la
        capacidad de agregar figuras y emojis. Además, podrás jugar con sombras y una amplia gama de herramientas de
        diseño para dar ese toque final.
      </p>
      <div class="card-actions justify-end">
        <a href="https://image-editor1234.netlify.app" target="_blank" class="btn btn-link">
          <Web />
          Ver demo
        </a>
      </div>
    </div>
  </article>

  <article class="card lg:card-side bg-base-300 shadow-xl mb-10">
    <figure>
      <img src="/works/telollevo.png" alt="Album" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Telollevo Chile</h2>
      <p>
        Es una aplicación de logística de envíos desarrollada para optimizar y facilitar la gestión integral de despachos en Chile. 
      </p>
      <p>
        La plataforma permite a los usuarios recibir notificaciones en tiempo real y gestionar de manera eficiente su perfil, despachos, pagos pendientes, pagos realizados y el seguimiento detallado de cada envío. Actualmente, <span class="font-bold">más de 500 usuarios activos</span> utilizan la app web para gestionar sus envíos de forma rápida y segura.
      </p>
      <p>
    Además, la plataforma cuenta con un completo panel administrativo, donde los administradores pueden revisar el estado de los pagos, despachos y envíos, así como monitorear el progreso y la trazabilidad de cada operación.
      </p>
      <div class="card-actions justify-end">
        <a href="https://telollevochile.cl" target="_blank" class="btn btn-link">
          <Web />
          Ver sitio web
        </a>
      </div>
    </div>
  </article>

  <footer>
    <div class="flex justify-end gap-2">
      <a class="btn btn-outline" href="https://github.com/marcos-velasquez/projects" target="_blank">
        Proyectos prácticos <ExternalLink />
      </a>
      <a class="btn btn-outline" href="https://github.com/marcos-velasquez/exercises" target="_blank">
        Ejercicios prácticos <ExternalLink />
      </a>
    </div>
  </footer>
</section>

<script>
  import { fadeInScroll } from "../scripts/animations/fadeInScroll.animaton";
  document.querySelectorAll(".card").forEach((item) => fadeInScroll(item));
</script>
